.productDescription {
  &Container {
    padding: 1.5rem 1.25rem;
  }

  &Title {
    color: $color-1-500;
    font-size: $font-size-h5 + 1;
    font-weight: $bold;
  }

  &Text {
    color: $text-color-1-500;
    font-size: $font-size-md;
    white-space: pre-line;
    columns: 250px 2;
  }
}
