.listPrice {
  display: flex;
  justify-content: center;
  font-size: $font-size-xs;
  color: $text-color-1-500;
  @include mobile {
    font-size: $font-size-sm;
  }

  &Value {
    text-decoration: none;

    &::before {
      content: 'De ';
      text-decoration: line-through;
    }

    &::after {
      content: ' Por';
    }
  }

  .currencyContainer {
    text-decoration: line-through;
  }

  @media (min-width: $l) {
    justify-content: flex-start;
    font-size: $font-size-sm;
  }
}


.savings{
  background-color: red;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  padding: 0px 10px;
  text-transform: uppercase;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  line-height: 26px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.sellingPrice {
  display: flex;
  justify-content: center;
  //font-size: $font-size-xlg + 25px!important;
  font-size: 45px;
  font-weight: $bold;
  color: $text-color-1-500;

  &Value {
    font-size: $font-size-xlg + 4px ;
  }

  @media (min-width: $l) {
    justify-content: flex-start;
    font-size: $font-size-xlg + 4px;
  }
}

.currencyLiteral {
  display: none;
}
