.nameContainer {
    justify-content: center;
    padding: 10px 0 15px;
}

.brandName {
    font-size: $font-size-md;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0 auto;
    text-transform: none;
    font-weight:400;


    @include mobile {
        font-size: $font-size-md;
        max-width: 140px;
        min-height:initial;
    }
}

.element {
    align-items: center;
    justify-content: space-between;
    position: relative;
}
