.slider {
  &Arrows {
    margin: 0 0.5rem;
    padding: 0;
    max-width: 35px !important;

    &--home-above-the-fold,
    &--departmentSlider {
      color: $white !important;
      background: transparent !important;
    }
  }
}


.caretIcon {
  height: 100%;
  width: 100%;
}

.pagination {
  &DotsContainer {
    margin-bottom: 0.75rem;
  }

  &Dot {
    background-color: $white;
    border-radius: 0;
    margin: 0 0.3125rem;
    height: 0.25rem !important;
    width: 0.25rem !important;
    padding: 0 !important;

    &--isActive {
      background-color: $color-6-500;
    }
  }
}

.imageElement {
  &--home-above-the-fold {
    max-height: none !important;

    @media (max-width: $l) {
      min-width: 100vw;
    }
  }
}
