.image {
  &Element {
    &--processo-img{
      margin: auto;
      display: block;
      height: 150px;
    }
    &--category-image {
      width: 192px;
      height: 192px;
      border-radius: 50%;
      object-fit: cover;

      @include mobile {
        width: 160px;
        height: 160px;
      }
    }
  }
}
