.infoCard {
  &Container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  &TextContainer {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    padding: 0.75rem 1rem;

    @media (max-width: $l) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0.75rem 0;
    }

    .paragraph {
      margin: 0;
      font-size: $font-size-sm;
      font-weight: $normal;
    }
  }

  &ImageContainer {
    width: 100%;
  }

  &CallAction {
    &Container {
      text-decoration: none;
      margin: 0;
    }

    &Text {
      margin: 0;
      color: $text-color-1-500;
      text-decoration: none;
      font-size: $font-size-xs;
    }
  }
}
